body {
    padding: 0;
    margin: 0;
    width: 100vw;
}


.page-content > *{
    margin: 10px;
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) { 
    .page-content {
        display: flex;
        margin: 30px;
    }
    
    .page-aside {
        width: 20%;
    }
    
    .page-aside > * {
        width: 80%;
        margin: auto;
    }
    .page-main {
        width: 80%;
    }
}