.modal {
	/* Tamños relativos */
	min-width: 300px;
	max-width: 500px;
	/* Styles */
	border-radius: 5px;
	border: 2px solid #1e88e5;
	background-color: #90caf9;
	/* Sombras */
	-webkit-box-shadow: 1px 7px 13px -2px #000000;
	box-shadow: 1px 7px 13px -2px #000000;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.modal-float {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.modal-head {
	color: #0d47a1;
	padding: 5px;
	height: 20px;
}

.modal-button {
	cursor: pointer;	
	padding: 20px;
	margin: 10px auto 10px auto;
	width: 100%;
	border-radius: 10px;
}

.pink {
	border: 2px solid #d35171;
	background-color: #f7819e;
}

.pink:active {
	border: 2px solid #b13a58;
}

.green {
	border: 2px solid #27ac8f;
	background-color: #4ce2c2;
}

.green {
	border: 2px solid #198069;
}

.modal-head button {
	float: right;
	cursor: pointer;
	border-radius: 50%;
	border: 2px solid #1e88e5;
	background-color: #2196f3;
}
.modal-head button:active {
  	border-color: #1565c0;
}

.modal-body {
	width: 100%;
	min-height: 400px;
	max-height: 500px;
	overflow: auto;
	border-radius: 5px;
	padding: 10px 40px 10px 40px;
	box-sizing: border-box;
	background-color: white;
}
