.nav {
    position: sticky;
}

.nav, .nav a {
    color: white;
    text-decoration: none;
}
  
.nav a:hover {
    background-color: #616161;
}
  
.nav a, .nav span {
    padding: 15px;
}

.nav-head {
    background-color: #424242;
}  
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .nav-body > *, .nav-footer > *{
        display: block;
    }

    .nav-head {
        padding: 15px;
    }

    .nav-body, .nav-footer {
        background-color: #424242d8;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .nav-footer {
        float: right;
    }

    .nav > *, .nav > *>*{
        display: inline-block;
    }

    .nav, .nav a {
        background-color: #424242;
    }
}