@font-face {
    font-family: Sarabun;
    src: url("../fonts/Sarabun-ExtraLight.ttf");
}

* {
    font-family: 'Sarabun', sans-serif;
}

body {
    /* remove default style  */
    padding: 0;
    margin: 0;
    max-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}


.page-content>* {
    margin: 10px;
}


.page-content {
    margin: 30px;
}

/* smoll device  */
@media only screen and (max-width: 400px) {
    .page-content {
        margin: 10px;
    }
}