@font-face {
    font-family: Sarabun;
    src: url("../fonts/Sarabun-ExtraLight.ttf");
}

* {
    font-family: 'Sarabun', sans-serif;
}

body {
    /* remove default style  */
    padding: 0;
    margin: 0;
    max-width: 100vw;
    min-height: 100vh;

}

.page-content {
    margin: 30px;
}

.page-main {
    width: 100%;
    overflow: overlay;
}

.pedidio {
    border: 1px solid gray;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
}

/* smoll device  */
@media only screen and (max-width: 400px) {
    .page-content {
        margin: 10px;
    }
}