.modal {
	/* Tamños relativos */
	min-width: 300px;
	max-height: 500px;
	/* Styles */
	border-radius: 5px;
	border: 2px solid rgb(34, 98, 194);
	background-color: rgb(102, 163, 255);
	/* Sombras */
	-webkit-box-shadow: 1px 7px 13px -2px #000000;
	box-shadow: 1px 7px 13px -2px #000000;
}

.modal {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.fade-in {
	/* when the modal is opened, display an animation */
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.modal-button {
	/* open button of the modal */
	display: inline-block;
	color: azure;
	cursor: pointer;
	font-size: inherit;
	padding: 5px;
	border-radius: 5px;
	background-color: #ff5c84;
	border: 2px solid #dd1a4b;
}

.modal-button:active {
	color: #ffc7d5;
	border: 2px solid #ffc7d5;
}

.modal-head {
	/* The head of the modal: title, close button */
	color: aliceblue;
	padding: 5px;
	height: 20px;
}

.modal-head button {
	float: right;
	cursor: pointer;
	text-align: center;
	border-radius: 50px;
	color: #ffc7d5;
	min-width: 10px;
	min-height: 10px;
	border: 2px solid rgb(34, 98, 194);
	background-color: #ff4070;
}

.modal-head button:active {
	background-color: #e41e4f;
	border-color: rgb(4, 55, 133);
}

.modal-body {
	color: black;
	width: 100%;
	min-height: 470px;
	max-height: 470px;
	overflow: auto;
	border-radius: 5px;
	padding: 10px 40px 10px 40px;
	box-sizing: border-box;
	background-color: white;
}

/* Small devices: phones, tables */
@media only screen and (max-width: 420px) {
	.modal {
		max-width: calc(100% - 10px);
	}
}