.nav {
    /* set the nav always on top */
    top: 0;
    left: 0;
    position: sticky;
    overflow-x: overlay;
    white-space: nowrap;
}

.nav a {
    /* remove default links style */
    color: inherit;
    text-decoration: none;
}

.nav a:hover {
    background-color: #616161;
}

.nav,
.nav-head,
.nav-body {
    color: white;
    background-color: #424242;
}

.nav-head>*,
.nav-body>* {
    padding: 15px;
}

.nav-button {
    cursor: pointer;
    transition: 0.2s;
}

.nav-button.active {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .nav-body>*,
    .nav-footer>* {
        display: block;
    }

    .nav-head {
        padding: 15px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .nav-footer {
        float: right;
    }

    .nav,
    .nav-head,
    .nav-body,
    .nav-footer {
        box-sizing: border-box;
    }

    .nav {
        height: 50px;
    }

    .nav-head,
    .nav-body,
    .nav-footer,
    .nav-head>*,
    .nav-body>*,
    .nav-footer>* {
        display: inline-block;
        line-height: 20px;
    }
}